################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FileExplorer/v15
/FileExplorer/bin/Debug
/FileExplorer/obj/Debug
